.map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1em;
}

.map-border {
  border: 5px solid orange;
  height: calc(100vh - 2em - 10px);
}

#map {
  height: 100%;
}

